# .gitignore for Flask projects

# Virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Backup and temporary files
*~
*.bak
*.swp
*.pyc
.notes

# Environment variables file
.env*
# Include .env.example
!.env.example

# Google Cloud credentials file
key.json

# vs code files
.vscode